################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wprowadzenie do uniwersalnych aplikacji Windows 10/01 - AdaptiveCodeCamera/AdaptiveCodeCamera/obj/x86/Debug
